.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 0px;
  background-color: teal;
  border-radius: 7px;
  width: flex;
}

.navi{
  text-decoration:none;
}