@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
  }
  
  .box p {
    color: var(--grayishBlue);
  }
  
  .box {
    border-radius: 5px;
    box-shadow: 0px 20px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px; 
  }
  
  .imgAbout {
    float: right;
  }
  
@media (max-width: 450px) {
    .box {
        height: 150px;
        width: 200px;
    }
    .row1-container{
      margin-top:7rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-family: monospace;
      text-align: center;
    }
    .imgAbout{
      display: none;
    }
}
  
.cyan {
    border-top: 3px solid var(--cyan);
}
.blue {
    border-top: 3px solid var(--blue);
}
  
  @media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15rem;
        gap: 8rem;
        font-family: monospace;
        padding-bottom: 15rem;
        margin-left: 0.5rem;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
    }
    
  }