.page{
  margin-left: -0.5rem;
  /* padding-right: 1rem; */
  background-color: rgb(37, 37, 37);
  /* width: 100%; */
  height: flex;
  display: flex;
  justify-content: center;
 
}


.menu-list{
  display: flex;
  flex-direction: row;
  gap: 9rem;
  list-style: none;
}



a{
  text-decoration: none;
  color: inherit;
  color: aqua;
  font-family: monospace;
  font-size: 20px;
}

a:hover {
  color: rgb(43, 155, 186);
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: rgb(37, 37, 37);
  color: #8b8888;
  margin-top: -0rem;
  margin-left: -0rem;
  /* margin-right:-0.2rem ; */
  margin-top: 3.4rem;
  padding-right: 0rem;  
}

.foot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: auto;
}

.foote{

  justify-content: space-between;
  padding-bottom: auto;
}

body{
  margin: 0;
  background-color: #c4c0c0;
}



:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
}




@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem;
  }
}

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;  
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
      height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.blue {
  border-top: 3px solid var(--blue);
}




@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 20%;
  }
  
}


