body{
  margin: 0;
  background-color: #e3e3e3;
}

a{
  text-decoration: none;
  color: inherit;
  color: aqua;
  font-family: monospace;
  font-size: 20px;
}

a:hover {
  color: white;
}

/*---------------------- Footer ----------------------*/
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: rgb(37, 37, 37);
  color: #8b8888;
  margin-top: 3.45rem;
}

.contentFooter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: auto;
}

.containerFooter{
  text-align: center;
  justify-content: space-between;
  padding-bottom: auto;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
}

/*---------------------- Footer ----------------------*/

/*---------------------- Header & Responsive ----------------------*/

.linkPages{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 1rem 0rem;
}

label, #toggle
{
    display: none;
}
@media all and (min-width: 991px){ 
  nav{
    background-color: rgb(37, 37, 37)
  }
}
@media all and (max-width: 991px){
  nav {
    padding: 0;
  }
 
  nav .linkPages {
    display: none;
    flex-direction: column;
    align-items: center;

    height: 220px;
    background-color: rgba(107, 107, 107, 0.964);
  }
 
  nav .linkPages a {
    width: 50%;
  }
 
  label {
    display: flex;
    align-self: flex-start;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
    font-size: 2.4rem;
    color: aqua;
    background-color: rgb(37, 37, 37);
  }

  a{
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: aqua;
  }

  #toggle:checked + .linkPages {
     display: flex;
  }
}

/*---------------------- Header & Responsive ----------------------*/