<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/artist-info.css"> 
    <title>Document</title>
</head>
<body>
    <div class="rowContainer">
        <img class="imgStyle" src="{{.Image}}" alt="groupeImage">
        <h1 class="groupName" >{{.Name}}</h1>
    </div>
    <span class="underline"></span>
    <h2>Members :</h2>                       
    <div >
        {{range .Members}}
            <p >-{{.}}</p>  
        {{end}}   
    </div>
    <h2>Creation date :</h2>                       
    <p >The group was created in {{.CreationDate}}</p> 
    <h2>First album :</h2>                          
    <p class="text">Their first album was released the {{.FirstAlbum}}</p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/{{.SpotifyID}}?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <form action="/artists" method="post">
        <button type="submit">GET BACK!</button>
    </form>
</body>
</html>