<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets\css\artist.css">
    <link rel="stylesheet" href="assets\css\style.css">
    <script src="../scripts/onclick.js"></script>
    <title>Artist</title>
</head>
<body>
    <nav>
        <label for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <div class="linkPages">
            <a href="/concerts" >Concerts</a>
            <a href="/" >Home</a>
            <a href="/artists" >Artists</a>
        </div>
    </nav>
    <form class="sortStyle" method="get" action="">
        <select name="sort" id="">
            <option selected disabled>Filters</option>
            <option value="alphabet">Alphabetical sorting</option>
            <option value="date">Date sorting</option>
            <option value="members">Number of members sorting</option>
        </select>
        <button class="buttonSort" type="submit"> Apply sort</button>
    </form>
    <div class="cardsContainer">{{range .}}
        <div style="display:flex" class="card">
            <div onclick="seeMore(this)">
                <img class="imgStyle" src="{{.Image}}" alt="groupeImage">
                <div class="groupeName">
                    <h1 class="title">{{.Name}}</h1>
                </div>
            </div>
            <div class="content" id="hiddenContent">
                <div style="width: max-content;">
                    <div class="containerTitle">
                        <span class="circle"></span>
                        <h2 class="title">Members :</h1>                       
                    </div>
                    <div style="margin-bottom: 1rem;" class="underline"></div>
                </div>
                <div class="membersContainer">
                    {{range .Members}}
                        <p class="membersText">-{{.}}</p>  
                    {{end}}   
                </div>
                <div style="width: max-content;">
                    <div class="containerTitle">
                        <span class="circle"></span>
                        <h2 class="title">Creation date :</h1>                       
                    </div>
                    <div style="margin-bottom: 1rem;" class="underline"></div>
                </div>
                <p class="text">The group was created in {{.CreationDate}}</p> 
                <div style="width: max-content;">
                    <div class="containerTitle">
                        <span class="circle"></span>
                        <h2 class="title">First album :</h1>                       
                    </div>   
                    <div style="margin-bottom: 1rem;" class="underline"></div>
                 </div>    
                <p class="text">Their first album was released the {{.FirstAlbum}}</p>
                <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/{{.SpotifyID}}?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>-->
            </div> 
        </div>                                     
    {{end}}
    </div>
    <form method="post" action="" id="formMargin">
        <div class="containerPagination">
            <button class="buttonNextPagination" type="submit" name="switch" value="previous">Previous Page</button>
            <ul id="ulPagination">
                <li><button class="buttonPagination" type="submit" name="pagination" value="52">52</button></li>
                <li><button class="buttonPagination" type="submit" name="pagination" value="13">13</button></li>
                <li><button class="buttonPagination" type="submit" name="pagination" value="4">4</button></li>
                <li><button class="buttonPagination" type="submit" name="pagination" value="2">2</button></li>
                <li><button class="buttonPagination" type="submit" name="pagination" value="1">1</button></li>
            </ul>
            <button class="buttonNextPagination" type="submit" name="switch" value="next">Next page</button>
        </div>
    </form>
    <footer class="containerFooter">
        <p class="contentFooter">This is made for groupie tracker</p>
        <p class="contentFooter">Legal Mention : nope</p>
        <p class="contentFooter">CGU : nope</p>
    </footer>  
</body>
</html>