<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="../assets/images/vynil.png" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/css/artists.css">

  <title class="tittle">🎶Artists🎶</title>
</head>
<body>
  <div class="menu">
    <nav style="list-style-type:none"class="navbar">

      <li><a class="navi" href="artists.html">Artists</a></li>
      <li><a class="navi" href="index.html">Home</a></li>
      <li><a class="navi" href="concert.html">Concert</a></li>
    </nav>
  </div>
</body>
</html>