<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="../assets/images/vynil.png" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/css/concert.css">

  <title class="tittle">🎶Concert🎶</title>
</head>
<body>
  <nav class="navbar">
    <li><a href="index.html">Home</a></li>
    <li><a href="artists.html">Artist</a></li>
    <li><a href="concert.html">Concert</a></li>
  </nav>
  
</body>
</html>