<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concerts</title>
</head>
<body>
    {{ $base := . }}
    {{ range $index := $base.Relation.Index }}
        {{ range $artist := $base.Artists }}
            {{ if eq $index.ID $artist.Id }}
                <div>
                    <h3>Name : {{ $artist.Name }}</p>
                    {{ range $place, $dates := $index.DatesLocations }}
                        <h4>Place : {{ $place }}</h4>
                        <h4>Dates :</h4>
                        {{ range $date := $dates }}
                            <p>{{ $date }}</p>
                        {{ end }}
                    {{ end }}
                </div>
                <br>
                <br>
            {{ end }}
        {{ end }}
    {{ end }}
</body>
</html>