<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/error.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>404 ERROR</title>
</head>
<body>
   
    <div class="globalContainer">
        <h1 class="errorTitle">404 ERROR</h1>
        <h1 class="errorText">Bah là y'a rien mon reuf... ¯\_(ツ)_/¯</h1>
        <a class="backButton" href="/">
            <span class="material-symbols-outlined backArrow">arrow_back</span>
            <p class="backButtonText">Back to home page</p>
        </a>
    </div>
</body>
</html>