<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="../assets/images/vynil.png" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/css/style.css">

  <title class="tittle">Groupie-Tracker🎶</title>
</head>
<body>
    <nav class="page">
      <ul class="menu-list">
        <li class="bmenu"><a href="#0" class="menu">Concerts</a></li>
        <li class="bmenu"><a href="#0" class="menu">Home</a></li>
        <li class="bmenu"><a href="#0" class="menur">Artists</a></li>
      </ul>
    </nav>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>
    <p>blablablala <br></p>

<footer class="foote">
  <p class="foot"> This is made for groupie tracker </p>
  <p class="foot">Legal Mention : nope</p>
  <p class="foot">CGU : nope</p>
  
  
</footer>  
  

</body>
</html>